@media only screen and (min-width: 768px) {

  .containerku {
    padding-right: 15px !important;
    padding-left: 15px !important;
    background: blue !important;
  }

  body {
    background: black !important;
  }
}